<app-nav-bar></app-nav-bar>

<div class="row">
    <div class="col-md-4 m-auto">
        <div class="card text-center">
            <div class="card-head mt-3">
                <div class="bottom-border pb-2 py-2">
                    <img mat-list-item src="../assets/img_avatar.png" width="120" class="rounded-circle mr-3 mb-1 d-block mx-auto text-center">
                </div>
                <h1 class="card-title">Login</h1>
            </div>
            <div class="card-body" style="display: block; margin: 0 auto;">
                <form #loginForm="ngForm" (ngSubmit)="onLogin()">
                    <div class="content">
                        <div class="row">
                            <div class="form-group">

                                <label>User</label>
                                <input 
                                    type="text"
                                    class="form-control" 
                                    placeholder="user"
                                    name="username"
                                    [(ngModel)]="userLogin.username"
                                    #usermane="ngModel"
                                    required>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label>Password</label>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    placeholder="password"
                                    name="password"
                                    #password="ngModel"
                                    [(ngModel)]="userLogin.password"
                                    required>

                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success mt-3" type="submit">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>