<app-nav-bar-home></app-nav-bar-home>

<div class="container">
    <div class="card mb-2">
        <div class="card-heard">
            <div class="card-panel bg-info border rounded mb-4">
                <h4 class="text-center p-3 text-white">New site</h4>
            </div>
        </div>
        <div class="card-body">
            
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successfulMessage">
                Galería registrada satisfactoriamente.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form #galleryForm="ngForm" (ngSubmit)="onSubmit();">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputText1">Nombre</label>
                                    <input type="text" class="form-control" id="exampleInputText1" required [(ngModel)]="site.name" name="name" #name="ngModel">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Descripción</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required [(ngModel)]="site.description" name="description" #description="ngModel"></textarea>
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Informacion de interes</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required [(ngModel)]="site.infoInterest" name="infoInterest" #infoInterest="ngModel"></textarea>
                                  </div>
                                <div class="col-md-4">
                                    <div class="form-group m-auto">
                                    <label for="exampleFormControlFile1">Imagenes</label>
                                    <input type="file" (change)="handleFileInput($event)" class="form-control-file" id="exampleFormControlFile1" required accept="image/*" name="files">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-heard mx-auto">
                                <div>
                                    <img [src]="imageUrl" id="exampleFormControlTextarea1"  style="width:250px;height:200px;">>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h5>Nombre del sitio</h5>
                                <span class="text-muted">{{site.name}}</span>

                                <h6>Descripción</h6>
                                <span class="text-muted">{{site.description}}</span>
                                
                                <h6>Informacion de interes</h6>
                                <span class="text-muted">{{site.infoInterest}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary mb-1">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

